<h1>Log In</h1>

<%= form_for :user do |f| %>
    <%=f.label :email%>
    <%=f.text_field :email, id: "email"%><br><br>
    <%=f.label :password%>
    <%=f.password_field :password, id: "password" %><br><br>
    <%=f.submit "Log In"%><br><br>

<% end %> 
