<h1>New Booking</h1>
<%= form_for @booking do |f|%>
  <%= f.label :date%><br>
  <%= f.text_field :date%><br>
  <%= f.label :pick_up%><br>
  <%= f.text_field :pick_up%><br>
  <%= f.label :drop_off%><br>
  <%= f.text_field :drop_off><br>
  <%= f.label :info%><br>
  <%= f.number_field :info%><br>
  <%= f.submit %>