<h1>Sign Up</h1>
<%= form_for @user do |f|%>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :email%><br>
  <%= f.text_field :email%><br>
  <%= f.label :business%><br>
  <%= f.check_box :business%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br><br>
  <%= f.submit %>
<%end%>
