<h1>Sign Up</h1>
<%= form_for @user do |f|%>
  <%= f.label "Are you a Business?"%><br>
  <%= f.check_box :business%><br>
  <%= f.label :name%><br>
  <%= f.text_field :name, required:true%><br>
  <%= f.label :email%><br>
  <%= f.text_field :email, required:true%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br><br>
  <% end%>
  <%= f.submit %>
 
<%end%>
