<h1><%=@excursion.title%></h1>
<img src=<%= @excursion.image_url%>><br>
Location:<%=@excursion.location%><br><br>
Description:<%=@excursion.description%><br><br>
Price: $<%=@excursion.price%><br><br>
What is Included:<%=@excursion.included%><br><br>
What to Bring:<%=@excursion.what_to_bring%><br><br>
Company:<%=@excursion.company%><br><br>
Pick Up Time: <%=@excursion.pick_up.strftime("%I:%M%p")%><br><br>
Drop Off Time:<%=@excursion.drop_off.strftime("%I:%M%p")%><br><br>
Vehicle Information: <%=@excursion.veh_info%><br><br>
All Inclusive: <%=@excursion.all_inclusive%><br><br>


<% if logged_in? && business? %>
    <button><%= button_to "Edit", edit_excursion_path, method: :get%></button>
    <button><%= button_to "Delete", @excursion, method: :delete, data: {confirm: "Are you sure you want to delete #{@excursion.title}"}%></button>
    <% elsif logged_in? && current_user %>
    <%= button_to "Book Excursion", new_excursion_booking_path(@excursion), :method => "get"%>
    <% else %>
    <h5>Please Log In or Sign Up to Book!</h5>
    <%=link_to "Back to Excursions List", root_path %>
    <% end %>

 
