<h1><%=@excursion.title%></h1>
<%=@excursion.location%><br><br>
<%=@excursion.description%><br><br>
$<%=@excursion.price%><br><br>
<%=@excursion.included%><br><br>
<%=@excursion.what_to_bring%><br><br>
<%=@excursion.company%><br>

<% if business? %>
    <%= button_to "Edit", edit_excursion_path, method: :get%>
    <% else %>
    <%= button_to "Book Excursion", new_excursion_booking_path(@excursion), method: :get%> 
    <% end %>


