<h1><%=@excursion.title%></h1>
<%=@excursion.location%><br><br>
<%=@excursion.description%><br><br>
$<%=@excursion.price%><br><br>
<%=@excursion.included%><br><br>
<%=@excursion.what_to_bring%><br><br>
<%=@excursion.company%>


