<!DOCTYPE html>
<html>
  <head>
    <title>Excursions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if logged_in? && business?%>
    <h4>Welcome <%= current_user.name %>!</h4>
    <%= link_to "Log Out", logout_path, method: :delete %> |
    <%= link_to "Add New Excursion", new_excursion_path%> |
    <%= link_to "Excursions List", root_path%> |
    <% elsif logged_in? %>
    <h4>Welcome <%= current_user.name %>!</h4>
    <%= link_to "Log Out", logout_path, method: :delete %> |
    <%= link_to "Excursions List", root_path%> |
    <%= link_to "Your Bookings List", bookings_path%> |
    <% else %>
    <h4>Log In or Sign Up to begin Booking your next adventure!</h4>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
    <%= link_to "<button>Log In With Google</button>".html_safe, '/auth/google_oauth2'%>
    <% end %>
    
  <body>
  <% if flash[:message] %>
              <p><i><%= flash[:message] %></i></p>
            <% end %>
    <%= yield %>
  </body>
</html>

